<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <!-- localhost:4000/public 이라는 동일한 의미를 가진다. / 슬래쉬 하나. static 설정을 해주었기 때문. -->
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
</head>

<body>
  <h1>메인 페이지 입니다!</h1>
  <p><%= msg %></p>
  <!-- 뷰 파일에서 ejs 문법 사용하여 데이터 출력 가능한 것임 -->
  <img src="/images/puppy.jpg" alt="강아지" />
</body>

</html>